/* Mixins */

@mixin center-div{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Body */

body {
    @include center-div();
    text-align: center;
    flex-direction: column;
    font-family: 'Righteous', sans-serif;
    height: 100vh;
}

/* Title */

h1{
    letter-spacing: .3rem;
    font-weight: bold;
    font-size:calc(4rem + 2vw);
    text-shadow: -0.1rem 0 red, 0.1rem 0 cyan;
}

/* Drum set */

#drum-set{
    @include center-div();
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    padding:2% 5% 2% 5%;

    button{
        align-items: center;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: .7rem;
        font-size: 1.3rem;
        font-weight: bold;
        margin: 2%;
        display: flex;
        flex-direction: column;
        overflow-y: hidden;
        overflow-x: hidden;
        border: none;
        background-color: white;
        flex: 0 0 calc(4rem + 5vw);
        height: calc(4rem + 5vw);
        transition: 0.2s;
    }
}